@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{margin: 0%; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: white}

/* 헤더 */

.header{
    top: 0;
    z-index: 1000;
    padding: 2.2vh 10px;
    background-color: #1f1f1f;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header img{
    width: 150px;
}
.Logo{
    margin-left: 100px;
}
.header_tab{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}
.header_tab a{
    padding: 8px 25px;
    font-size: 1.2em;
}
.header_tab a:hover{
    background-color: white;
    color: black;
}
.toggleBtn{
    display: none;
    position: fixed;
    right: 50px;
    color: white;
    font-size: 25px;
    top: 8px;
}
/* 헤더 끝 */


@media (max-width: 768px){
    .hidden{
        display: none;
    }
    .Logo{
        margin-left: 30px;
    }
    .Logo img{
        width: 100px;
    }
    .toggleBtn{
        display: block;
    }
    .header, .header_tab{
        flex-direction: column;
    }
    .header{
        align-items: flex-start;
        padding: 2.2vh 10px;
    }
    .header_tab{
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .header_tab a{
        text-align: center;
        padding: 10px;
    }
}
