@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{margin: 0%; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: white}

/* 첫페이지 */
.titlement{
    background-image: url("./team_scr/hhdnb3.jpg");
    background-size:cover;
    height: 100vh;
    color: #fafafa;
    text-align: center;
    font-size: 79px;
    padding-bottom:10vw;
}

.titlementtext{
    background-color: none;
    line-height: 110px;
    padding-top: 285px;
}
/* 첫페이지 끝 */

/* 프로필 전체에 적용 */
.memberprofilepage {
    background-image: url("team_scr/hhdnb2.jpg");
    background-size: cover;
    align-items: center;
}

.memberprofile {
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-top: 13.5vh;
    /* align-items: center; */
    text-align: center;  
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 95vw;
    /* display:flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr) );
    grid-gap: 0px;
    padding-bottom:10vw;   
}
@media (max-width: 600px) {
    .titlement{
        width: 100%;
    }
    .memberprofilepage{
        height: 2000px;

    }
    .memberprofile{    
        padding:0;
        flex-direction: column;
        align-items: center;
    }
    
}
/* 전체에 적용 끝 */

.member{
    display: flex;
    justify-content: center;
    align-items: center;
}

.member1{
    /* padding-left: 10vh; */
    /* flex: 1; */
    /* width: 40vw; */
    /* height: 200px;
    line-height: 200px; */
    /* background-color: rgb(189, 189, 189); */
    color: rgb(0, 0, 0);
}
.member2{
    /* flex: 1; */
    /* width: 40vh; */
    /* height: 200px;
    line-height: 200px; */
    /* background-color: rgb(189, 189, 189); */
    color: rgb(0, 0, 0);
}
.member3{
    /* flex: 1; */
    /* width: 40vh; */
    /* height: 200px;
    line-height: 200px; */
    /* background-color: rgb(189, 189, 189); */
    color: rgb(0, 0, 0);
}
.member4{
    /* padding-right: 10vh; */
    /* flex: 1; */
    /* width: 40vh; */
    /* height: 200px;
    line-height: 200px; */
    /* background-color: rgb(189, 189, 189); */
    color: rgb(0, 0, 0);
} 

.name{
    /* background-color: rgb(199, 199, 199); */
    height: 50px;
    line-height: 50px;
    padding-top: 15px;
    font-size: 25px;
    font-weight:normal;
}

.selfIntroduce{
    /* background-color: rgb(199, 199, 199); */
    height: 70px;
    padding-top: 12px;
    padding-bottom: 7px;
    line-height: 22px;
    font-size: 14px;
}

.personalweb{
    /* background-color: rgb(199, 199, 199); */
    text-align: center;
    height: 33px;
    line-height: 33px;
}

.personalweb a{
    border: rgb(54, 54, 54) solid 1px;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: lighter;
}

.personalweb a:hover{
    cursor: pointer;
    border: rgb(51, 51, 51) solid 1px;
    color: rgb(34, 34, 34);
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: lighter;
}

.picture{
    position:absolute;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 160px;
}

.circle{
    position:relative;
    background-color: rgb(41, 41, 41);
    width: 230px;
    height: 230px;
    border: ivory 20px;
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    opacity: 0;
    text-align:left;
    align-items: center;
    
}

.circletext1{
    color:whitesmoke;
    width: 160px;
    height: 160px;
    padding-top: 63px;
    margin-right: 32%;
    margin-left: 28%;
    font-size: 25px;
    opacity: 1;
}

.circletext2{
    color:whitesmoke;
    width: 160px;
    height: 160px;
    padding-top: 77px;
    margin-right: 30%;
    margin-left: 37%;
    font-size: 25px;
    opacity: 1;
}

.circletext3{
    color:whitesmoke;
    width: 160px;
    height: 160px;
    padding-top: 77px;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 25px;
    opacity: 1;
}

.circletext4{
    color:whitesmoke;
    width: 160px;
    height: 160px;
    padding-top: 77px;
    margin-right: 30%;
    margin-left: 30%;
    font-size: 25px;
    opacity: 1;
}



.circle:hover{
    cursor: pointer;
    position:relative;
    background-color: rgb(41, 41, 41);
    width: 230px;
    height: 230px;
    border: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 40px;
    opacity: 0.87;
    text-align:left;
    align-items: center;
}

.footer{
    bottom: 0;
}
