@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{margin: 0%; font-family: 'NanumSquareRound';}
a{text-decoration: none; color: white}

/* 헤더 */
.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.header img{
    width: 150px;
}
.rogo{
    margin-left: 50px;
}
.header_tab{
    margin-right: 50px;
}
.header_tab a{
    padding: 8px 25px;
    border-radius: 5px;
}
.header_tab a:hover{
    background-color: white;
    color: black;
}
/* 헤더 끝 */

/* 첫페이지 */
.titlement{
    background-image: url("./team_scr/hhdnb.jpg");
    background-size:cover;
    width: 100%;
    height: 90vh;

    color: #fafafa;
    text-align: center;
    font-size: 79px;
}

.titlementtext{
    background-color: none;
    line-height: 115px;
    padding-top: 200px;
}
/* 첫페이지 끝 */

/* 프로필 전체에 적용 */
.memberprofilepage {
    background-image: url("team_scr/hhdnb2.jpg");
    background-size:cover;
    height: 100vh;

    align-items: center;
}

.memberprofile {
    padding-top: 60px;
    padding-left:10vh;
    padding-right: 10vh;
    /* align-items: center; */
    text-align: center;  
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
}
/* 전체에 적용 끝 */

.member1{
    margin: 8px;
    width: 40vh;
    /* height: 200px;
    line-height: 200px; */
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
}
.member2{
    margin: 8px;
    width: 40vh;
    /* height: 200px;
    line-height: 200px; */
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
}
.member3{
    margin: 8px;
    width: 40vh;
    /* height: 200px;
    line-height: 200px; */
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
}
.member4{
    margin: 8px;
    width: 40vh;
    /* height: 200px;
    line-height: 200px; */
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
} 

.picture{
    background-color: rgb(61, 61, 61);
    width: 200px;
    height: 200px;
    border: rgb(61, 61, 61);
    border-radius: 75px;
}