@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{margin: 0%; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: white;}

/* 헤더 */
.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
}

.header img{
    width: 150px;
}
.logo{
    margin-left: 50px;
}
.header_tab{
    margin-right: 50px;
}
.header_tab a{
    padding: 8px 25px;
    border-radius: 5px;
}
.header_tab a:hover{
    background-color: white;
    color: black;
}
/* 헤더 끝 */

.videoBox{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 50px;
    margin: 50px;
    justify-items: center;
    align-items: top;
}
.video img{
    width: 400px;
}

.video{
    padding: 20px;
}
.video p{
    max-width: 400px;
}

.video span{
    font-size: 20px;
}

.videoBox button{
    background-color: rgb(192, 187, 187);
    background-color: white;
    color: skyblue;
    padding: 5px; 
}