@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{margin: 0%; font-family: 'NanumSquareRound';}
a{text-decoration: none; color: white}

/* 헤더 */
.header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.header img{
    width: 150px;
}
.rogo{
    margin-left: 50px;
}
.header_tab{
    margin-right: 50px;
}
.header_tab a{
    padding: 8px 25px;
    border-radius: 5px;
}
.header_tab a:hover{
    background-color: white;
    color: black;
}
/* 헤더 끝 */

.videoBox{
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    gap: 20px;
    margin: 50px;
    justify-items: center;
    align-items: center;
}
.video, .video img{
    width: 300px;
}

